pytesseract
opencv-python
pyyaml
jsonschema
pytest
rapidfuzz
python-dateutil
#spacy==3.7.5
gliner
pyvi
symspellpy
torch
numpy>=1.26.0,<2.0.0
pillow
torchvision
transformers==4.42.3
tokenizers
accelerate
einops
timm
sentencepiece
tiktoken
craft-text-detector
scipy
gdown
